/*?..........MAIN..........*/


/*!.................Pagina Main INDEX..................*/
.viajemosindex {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: calc(100vh - 200px);
    text-align: center;
    background-image: url(../img/arg-mapa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: nth($colores, 3);
    padding: 30px;

    h2 {
        @extend %enlaces;
        font-size: 400%;
        text-shadow: 3px 3px nth($colores, 4);
    }

    p {
        @extend %enlaces;
        font-size: 200%;
        margin-bottom: 20px;
        color: nth($colores, 2);
    }

    a {
        padding: 10px;
        font-size: 200%;
        text-decoration: none;
        color: nth($colores, 2);
        border: 5px solid nth($colores, 6);
        border-radius: 20px;
        background-color: nth($colores, 1);

        &:hover {
            background-color: nth($colores, 5);
        }
    }
}

iframe {
    width: 100%;
    height: 500px;
    border: 5px solid nth($colores, 6);
}

.paquetesindex {

    h2 {
        @extend %enlaces;
        text-align: center;
        font-size: 70px;
        padding: 10px;
        color: nth($colores, 6);
        text-shadow: 3px 3px nth($colores, 4);
    }

    div {
        @include flexbox(flex, space-between, center, row);

        div {
            width: 300px;
            height: 350px;
            border: 3px solid nth($colores, 6);
            margin: 20px;
            text-align: center;
            display: inline-block;

            img {
                width: 100%;
                height: 60%;
                padding: 5px;
                margin-bottom: 20px;
            }

            h3 {
                @extend %enlaces;
                font-size: 30px;
                margin-bottom: 25px;
            }

            a {
                font-size: 20px;
                border: none;
                background-color: nth($colores, 6);
                text-decoration: none;
                color: nth($colores, 3);
                padding: 8px;

                border-radius: 30px;
                background: nth($colores, 1);
                box-shadow: 0 0 5px nth($colores, 1),
                    0 0 25px nth($colores, 1);
                transition: all 0.4s ease;
                cursor: pointer;

                &:hover {
                    background-color: nth($colores, 6);
                    transform: scale(1.1);
                    box-shadow: 0 0 5px nth($colores, 1),
                        0 0 25px nth($colores, 1),
                        0 0 50px nth($colores, 1),
                        0 0 100px nth($colores, 1);

                }
            }
        }
    }
}

/*!.................Pagina Main QUIENES SOMOS..................*/
.quienessomos {
    margin: 10px;
    @include flexbox(flex, space-around, center, row-reverse);

    div {
        text-align: center;
        margin: 15px;

        h1 {
            @extend %enlaces;
            font-size: 50px;
            text-shadow: 2px 2px nth($colores, 1);
        }

        p {
            @extend %enlaces;
            font-size: 15px;
            text-align: left;
        }

    }

    img {
        border-radius: 8px;
        box-shadow: 0 0 30px nth($colores, 4);
    }
}

/* ------------------------------------------- Pagina Hoteles-------------------------------------------- */
/* !------------------------------------MAIN----------------------------------- */

.contenedor {
    margin: 10px;
    display: grid;
    width: 97%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px 300px 300px;
    gap: 5px 5px;
    grid-template-areas:
        "bariloche bariloche cordoba"
        "bariloche bariloche corrientes"
        "salta larioja mendoza"
        "salta sanluis sanluis"
        "ushuaia ushuaia misiones";

    div {
        background-color: gray;
        border: solid 4px nth($colores, $n:7);
        border-radius: 10px;
        text-align: center;
        @include flexbox(flex, space-between, center, column);

        &:hover {
            transform: scale(0.9);
        }

        h1 {
            background-color: nth($colores, $n:4);
            color: nth($colores, $n:2);
            width: 100%;
            margin-top: 0;
            font-size: 30px;
        }

        button {
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: nth($colores, $n:2);
            text-shadow: 1px 1px nth($colores, $n:4);
            padding: 20px;
            margin: 10px;
            border: none;
            border-radius: 30px;
            background: skyblue;
            box-shadow: 0 0 5px skyblue,
                        0 0 25px skyblue;
            transition: all 0.4s ease;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 5px skyblue,
                            0 0 25px skyblue,
                            0 0 50px skyblue,
                            0 0 100px skyblue;
            }
        }

        
    }

    .hotelbariloche {
        grid-area: bariloche;
        background-image: url(../img/hotelbariloche.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelcordoba {
        grid-area: cordoba;
        background-image: url(../img/hotelcorboba.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelcorrientes {
        grid-area: corrientes;
        background-image: url(../img/hotelcorrientes.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelsalta {
        grid-area: salta;
        background-image: url(../img/hotelsalta.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotellarioja {
        grid-area: larioja;
        background-image: url(../img/hotellarioja.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelmendoza {
        grid-area: mendoza;
        background-image: url(../img/hotelmendoza.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelsanluis {
        grid-area: sanluis;
        background-image: url(../img/hotelsanluis.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelushuaia {
        grid-area: ushuaia;
        background-image: url(../img/hotelushuaia.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .hotelmisiones {
        grid-area: misiones;
        background-image: url(../img/hotelmisiones.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}