/*?............MEDIAQUERY............*/
/*!........Pagina Mediaquery QUIENES SOMOS..............*/
@media screen and (max-width:1070px) {
    .quienessomos {
        display: flex;
        flex-direction: column-reverse;
    }

    .quienessomos img {
        width: 70%;
        height: 70%;
    }
    .quienessomos div {
        width: 70%;
        height: 70%;
    }
}
/*!........Footer Mediaquery..............*/
@media screen and (max-width:1005px) {

    footer div div h4 {
        font-size: 20px;
        text-shadow: 1px 1px nth($colores, $n:2);
    }
}

@media screen and (max-width:865px) {
    footer div h4 {
        display: none;
    }

    footer div div a img {
        display: inline-block;
        margin-right: 20px;
    }
}

/*!........Pagina Mediaquery INDEX..............*/
@media screen and (max-width:720px) {
    .paquetesindex h2 {
        font-size: 30px;
        text-shadow: 1px 1px nth($colores, $n:1);
    }

    .paquetesindex div {
        flex-direction: column;
    }
    .d-block {
        height: 40vh;
    }
    .whatsappindex {
        bottom: 150px;
    }
}
@media screen and (max-width:690px) {

    .viajemosindex a {
        display: none;
    }

    .viajemosindex p {
        display: none;
    }
}
/*!........Pagina Mediaquery HOTELES..............*/

@media screen and (max-width:559px) {
    .contenedor {
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(4, auto);
        gap: 5px 5px;
        grid-template-areas:
            "bariloche"
            "cordoba"
            "corrientes"
            "salta"
            "larioja"
            "mendoza"
            "sanluis"
            "ushuaia"
            "misiones"
    }

}
@media screen and (max-width:457px) {
    .whatsappindex {
        left: 40px;
        align-items: center;
        ;
    }
}

@media screen and (max-width:360px) {
    .viajemosindex h2 {
        font-size: 50px;
    }
}



